<template>
  <div id="add-data">
    <div class="app-header"></div>
    <form @submit.prevent="addAddress()" class="add-form row">
      <input
        v-model="address"
        name="newAddress"
        placeholder="Enter address"
      >
      <button class="btn add-btn">Add Address</button>
    </form>
  </div>
</template>

<script>
  export default {
    name: 'add-data',
    data () {
      return {
        address:'',
      }
    },
    balance(){
      return this.$store.state.balanceModule.balance
    },
     watch: {
      balance: {
          handler: function(updatedList) {
            localStorage.setItem('balances', JSON.stringify(updatedList));
          },
          deep: true
      },  
  },
    methods: {
      addAddress () {
        this.$store.dispatch("getBalance",this.address);
        this.$store.commit('SET_LOADING',true);
        this.address = ''
      },
    },
}
</script>