<template>
  <div id="bitcoin-app">
     <table>
        <tr v-for="item in pageOfItems" :key="item.id" class="list-row">
            <td>
                <p class="id-p">{{ item.id }}</p>
            </td> 
            <td v-if="showEdit && editedID == item.id">
                <input  v-model="address2" class="edit-input">
            </td>  
            <td v-else>
                <p >{{ item.address }}</p>
            </td> 
            <td v-if="x==1">
                <p>BTC:{{ item.btc }}</p>
            </td> 
            <td v-else>
                <p>EUR:{{ (item.btc * x).toFixed(4) }}</p>
            </td>
            <td>
                <template v-if="showEdit && editedID == item.id">
                    <button  @click="closeEditItem(item.id)" class="delete-btn">Cancel</button>
                    <button  @click.prevent="editItem(item.id)" class="delete-btn">Save</button>
                </template>
                <button  @click="showEditItem(item.id,item.address)"  v-else class="delete-btn"><img src='@/assets/icons/edit.svg'/></button>
                <button  @click.prevent="deleteItem(item)" class="delete-btn"><img src='@/assets/icons/trash.svg'/></button>
            </td>
        </tr>    
    </table>
    <div class="loader" v-if="loading"></div>
    <p v-if="error" class="danger-text">No address found!</p>
    <div class="center">
        <PaginationItem :items="balance" @changePage="onChangePage" class="center"></PaginationItem>
    </div>

    <button class="btn check-btn" @click="convertBalance()">Convert Balance - EUR</button>
  </div>
</template>

<script>
  import PaginationItem from './pagination.vue';

  export default {
    name: 'bitcoin-app',
    components: {
    PaginationItem
  },
    data () {
      return {
        address:'',
        showEdit:false,
        editedID:0,
        address2:'',
        pageOfItems: [],
      }
    },
    computed: {
        x(){
            return this.$store.state.balanceModule.converted
        },
        loading(){
            return this.$store.state.balanceModule.loading
        },
        balance(){
            return this.$store.state.balanceModule.balance
        },
        error(){
            return this.$store.state.balanceModule.error
        },
    },
    // mounted:function (){ 
    //     this.$store.commit('GET_BALANCE');
    //     this.$store.dispatch("updateBalance",this.balance);
    // },
    methods: {
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },
        getList() {
            this.$store.commit('GET_BALANCE');
        },
        deleteItem(item) {
            this.$store.commit('DELETE_ADDRESS',item);
        },
        showEditItem(item,data) {
            this.showEdit = true
            this.editedID = item
            this.address2 = data
        },
        closeEditItem(item) {
            this.showEdit = false
            this.editedID = item
        },
        editItem(id) {
            this.$store.commit('EDIT_ADDRESS',{id:id,value:this.address2});
            this.showEdit = false
        },
        convertBalance(){
            this.$store.dispatch("convertBalance");
        }
    },
}
</script>