<template>
  <div id="app">
    <header></header>
    <div class="body-div">
      <AddData></AddData>
    </div>
    <ListData></ListData>
  </div>
</template>

<script>
import AddData from './components/AddData.vue';
import ListData from './components/ListData';
export default {
  name: 'App',
  components: {
    AddData,ListData
  }
};
</script>

<style>
  @import './assets/styles/index.css';
</style>