body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
button,input{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    outline: none !important;
}
#app{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: auto;
}
header{
    height: 70px;
    width: 100%;
    background-color: #121d33;
    margin: 0;
    z-index: 1;
}

.app-header{
    height: 30px;
    width: 100%;
    background-color: #121d33;
    margin: 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.body-div{
    margin: auto;
    width: 70%;
    box-shadow: 0 0 10px 10px rgba(187, 185, 185, 0.2);
}

.add-form input,.edit-input{
    height: 40px;
    border: none;
    border-bottom: 2px solid #121d33;
    width:70%;
    margin-right: 15px;
    margin-left: 20px;
}
.edit-input{
    margin-left: 15px;
    height: 34px;
}
.btn{
    height: 42px;
    border: none;
    color: white;
}

#add-data li {
    list-style-type: none;
}

.clear-btn{
    background-color: #4b0716;
    width: 30%;
    margin: 30px;
    margin-left: 35%;
}

.add-btn{
    background-color: #121d33;
    padding-left: 10px;
    padding-right: 10px;
}

.add-form{
    width: 94%;
    padding: 20px;
}

.delete-btn{
    border: none;
    background-color: transparent;
    color: black;
}

.delete-btn img{
    width: 20px;
}

.check-btn{
    border: none;
    background-color: rgb(53,137,241);
    color: white;
    height: 42px;
    margin: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
}
.center{
    margin-left: 38%;
}
table{
    width: 100%;
    word-break: break-all;
    border-collapse:separate; 
    border-spacing: 0 2em;
}
.list-row{
    width: 100%;
    box-shadow: 0 0 10px 10px rgba(187, 185, 185, 0.2);
    vertical-align: middle;
}

#bitcoin-app{
    width: 70%;
}

tr td p{
    text-align: center;
    margin-top: 15px;
}
.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid rgb(53,137,241); /* Blue */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 2s linear infinite;
    margin-left: 50%;
    margin-bottom: 20px;
  }
  .pagination {
    justify-content: center;
    flex-wrap: wrap;
 }
 .id-p{
     margin-left: 15px;
 }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@media screen and (max-width:900px){
    .body-div{
        width: 100%;
    }
    #bitcoin-app{
        width: 95%;
    }
    tr td{
        font-size: 12px;
    }
    .add-form{
        width: 94%;
        padding: 10px;
    }
    .add-form input,.edit-input{
        width:65%;
    }
    .check-btn,.add-btn{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
    }
}

@media screen and (max-width:500px){
    .center{
        margin-left: 25%;
    }
    .check-btn,.add-btn{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }
    .add-form input,.edit-input{
        width:60%;
        font-size: 12px;
    }
}